#tracker header {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    visibility: hidden;
}

#tracker:hover header {
    background: transparent;
    visibility: visible;
    border: none;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

#tracker {
    overflow: visible;
    min-width: 0px;
    width: auto !important;
    max-width: 475px;
}

#tracker .window-content {
    padding: 10px 5px 5px 5px;
    overflow: visible;
}

#tracker #mainTracker {
    overflow: visible;
}

.trackerPip {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: #000;
    text-align: center;
    border: 2px #fff solid;
    margin-bottom:5px;
}

.trackerPip.used {
    background-color: #a03131;
}

.trackerPip.quickened {
    border-color: #0580c7;
}

.trackerPip.quickened.usable {
    background-color: #4abdff;
}

.trackerPip.stun {
    background-image: url(/systems/pf2e/icons/conditions/stunned.webp);
    background-size: contain;
}

.trackerPip.slow {
    background-image: url(/systems/pf2e/icons/conditions/slowed.webp);
    background-size: contain;
}

.trackerPip.action-glyph {
    font-size: 16pt;
    line-height: 21pt;
}

.addPip {
    padding-top: 0px;
    background: none;
    border-style: dashed;
    color: #bbb;
}

#tracker .trackerPip .fas {
    position: absolute !important;
    top: -2px;
    right: -2px;
    font-size: 0.75rem;
    color: #bbb;
    border-radius: 4px;
    pointer-events: none;
}

#tracker .trackerPip .fa-plus {
    background: #066531;
}

#tracker .trackerPip .fa-minus {
    background: #bd0000;
}

#tracker #tokenName {
    position: absolute;
    top: -20px;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
    font-family: Signika, sans-serif;
    font-size: 12pt;
}

#tracker:hover .tokenNameHover {
    visibility: visible;
}

#tracker .tokenNameHover {
    visibility: hidden;
}